{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="fixed bottom-10 left-10">
  <img id="toggle-language" src="{% static 'language.svg' %}" class="h-16">
</div>
<div class="flex w-full h-screen justify-center items-center">
  <form id="new-order-form">
    {% csrf_token %}
    <div class="flex-col items-center justify-center">
      <h1 class="text-xl text-center">表号</h1>
      <input type="number" name="table_no" class="form-control w-full mt-4 h-20 rounded-xl text-2xl text-center">
      <button id="start-order" class="start-timeout w-full mt-6 bg-blue-500 py-4 text-white text-2xl rounded-xl hover:bg-blue-600">
        开始
      </button>
    </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(() => {
    $('#toggle-language').click(() => {
      window.location.href = "/start/"
    })

    $('#new-order-form').submit((e) => {
      e.preventDefault();
      localStorage.clear();
      $.ajax({
        url: '/api/order/',
        type: 'POST',
        dataType: 'json',
        data: $('#new-order-form').serialize(),
        success: (order) => {
          localStorage.setItem('order', order.id)
          // localStorage.setItem('order-created-at', order.created_at)
          location.href = '/ch'
        },
        error: () => {
          alert('Failed to create new order')
        }
      })
    })
  })
</script>

{% endblock content %}